@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #000000;
    --blood: #58010c;
    --midnight: #010132;
    --gold: #d8b15c;
  }

  html {
    scroll-behavior: smooth;
    scroll-timeline: --page-scroll block;
  }

  body {
    @apply font-eb-garamond antialiased bg-black text-foreground text-lg;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  main {
    scroll-snap-type: y proximity;
    overflow-y: auto;
    height: 100vh;
    scroll-padding: 20px;
    position: relative;
    z-index: 0;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-cinzel-decorative;
  }
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.8) 50%,
        /* rgba(216, 177, 92, 0.3) 75%, */
        rgb(81, 70, 47, 0.8) 100%);
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  @keyframes shake {

    0%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-5deg);
    }

    75% {
      transform: rotate(5deg);
    }
  }

  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
  }
}